body {
    background-color: #a9a9e1; /* light purple */
    margin: 0
}

.header-nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header-nav a {
    text-decoration: none;
}

.header-nav li {
    list-style-type: none;
    padding: 30px;
    font-size: 25px;
    color: white;
    text-align: center;
}

header {
    background-color: black;
}

.header-nav li:hover {
    background-color: lightgray;
    color: black;
    transition: 0.3s;
}

.main-image {
    background-image: url("../images/header_img.jpeg");
    height: 91.3vh;
    width: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    display: flex;
    flex-direction: column;
}

.cta {
    font-size: 5.0em;
    color: whitesmoke;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-weight: 400;
    margin: 10px;
}

.cta-btn {
    border: solid #4e47d6 2px;
    padding: 15px;
    width: 150px;
    margin: auto;
    cursor: pointer;
    font-size: 1.0em;
    margin-top: 10px;
    color: white;
    background-color: transparent;
}

.cta-btn:hover {
    background-color: #4e47d6;
    border: solid #4e47d6 2px;
    color: white;
    transition: 0.3s;
}

.cta-btn:focus {
    outline: none;
}

.main-text {
    display: flex;
    flex-direction: column;
    top: 80px;
    width: 100%;
    text-align: center;
    z-index: 1;
    order: 0;
}
.banner {
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: -1;
}

.flex-container {
    display: flex;
}

#cta-flex {
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 100px;
}

#icon-container-flex {
    order: 1;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 200px 10px 200px;
}

#icon-flex {
    flex-direction: column;
    background-color: #4E47D6;
    padding: 10px;
    border-radius: 10px;
}

#icon-flex img {
    height: 100px;
    margin: 0px 30px;
    border: none;
    border-radius: 0px;
    align-self: center;
}

#icon-flex p {
    border: solid white 2px;
    width: 120px;
    align-self: center;
    padding: 10px;
    color: white;
    text-align: center;
}

#main-content {
    
}

.store-content {
    flex-grow: 2;
}

.side-area {
    flex-basis: 20%;
}

.store-content h1 {
    text-align: left;
    font-family: 'Gloria Hallelujah';
    font-size: 22px;
    color: aliceblue
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 7px solid aliceblue;
    margin: 1em 0;
    padding: 0;
}

#shop-item {
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 3px solid #4E47D6;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 25%;
}

#shop-item img {
    height: 200px;
    width: auto;
}

#shop-item h4 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.item-button {
    color: white;
    background-color: purple;
    border-color: purple;
    border-radius: 3px;
    padding: 5px;
}

.item-button:hover {
    cursor: pointer;
    background-color: green;
    border-color: green;
    transition: 0.3s;
}

nav img {
    height: 50px;
    width: auto;
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px;
}

nav img:hover {
    background-color: lightgray;
    transition: 0.3s;
}

#shop-items-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    background-color: black;
}

footer h1 {
    color: white;
    margin-bottom: 0px;
}

#contact-flex h3 {
    color: white;
    text-decoration: underline;
    align-self: center;
}

#footer-nav {
    flex-direction: column;
}

footer p {
    color: white;
}

#footer-flex {
    flex-direction: row;
    justify-content: space-around;
}

#contact-flex {
    flex-direction: column;
    align-items: center;
}

.footer-nav-list li {
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
}

.footer-nav-list li:hover {
    color: black;
    background-color: lightgray;
    transition: 0.3s;
}

.footer-nav-list {
    list-style: none;
    margin-top: 10px;
    align-self: center;
}

#sally-tip {
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 20%;
}

#sally-tip h3 {
    color: white;
    text-align: center;
}

#sally-tip p {
    color: white;
    text-align: center;
    margin: 0px;
}

#footer-nav h3 {
    color: white;
    text-decoration: underline;
    align-self: center;
    margin-left: 35px;
}